body{
	background-image: url("/img/a2.jpg");
	background-position:center;
	background-attachment: fixed;
	margin:0;
	padding:0;
	font-family: verdana;
}
#container{
	width: 100%;
	height: auto;
}
.nav{
	height:100px;
	width: 100%;
	background-color: cadetblue;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 1px 3px;
}
.nav h1{
	margin: 0;
	padding-top: 20px;
	color:white;
	text-shadow: 0 1px 3px;
}
#mar{
	margin-top: 10px;
	color: dodgerblue;
}
.login-bar{
	margin-top: 50px;
    width: 400px;
    height: 300px;
    border: 1px solid dodgerblue;
    background-color: cadetblue;
    box-shadow: 0 5px 10px;
}
#uname{
	margin: 20px 0;
	text-align: center;
	width:80%;
	padding: 20px;
}
#pass{
	margin: 20px 0;
	width: 80%;
	padding: 20px;
	text-align: center;
}

#sbutton{
	margin: 20px 0;
	width: 50%;
	background-color: #BEE264;
	padding: 10px;
	border:1px solid green;

}
#sbutton:hover{
	border:1px solid dodgerblue;
	box-shadow: 0 0 10px;
	cursor:pointer;
}


/*for profile*/
.band{
	box-shadow: 0 0 20px;
	padding: 10px;
}
.band h2{
	margin: 0;
	color:dodgerblue;
}
.band a{
	float:right;
	text-decoration: none;
	margin-right:10px;
	margin-top: 4px;
	font-size:18px;
	color:dodgerblue;
}
.band span{
	background-color:white;
	padding:10px;
	border-radius:10px;
}
.left{
	display: inline-block;
	min-width:200px;
	margin-top: 10px;
	margin-left: 10px;
	width: 20%;
	height:auto;
	background-color: #BEE264;
}
.left ul{
	margin: 0;
	padding: 0;
	padding-top:10px;
}
.left ul li{
	list-style: none;
	margin: 20px;
	padding-top: 10px;
	height: 30px;
	text-align: center;
}
.left ul li:hover {
	background-color: cadetblue;
	box-shadow: 0 0 20px;
}
.left ul li a {
	text-decoration: none;
	color:black;
	display: block;
}
.left ul li a:hover {
	color:white;
}
.error{
	display: inline-block;
	color: red;
}
.error p{
	color: red;
	background-color: green;
	text-align: center;
}
.midcon {
	display:inline-block;
	width: 70%;
	background-color: cadetblue;
	vertical-align: top;
	box-shadow: 0 0 10px;
	margin: 10px 0 0 10px;
}
.prof {
	box-shadow: 0 0 20px;
	margin:20px;
	padding:20px;
	background-color: white;
	border-radius: 10px;
}
.prof h2{
	color:cadetblue;
	text-align: center;
}
form{
	text-align: center;
}
table{
	margin: auto;	
}
#tagname {
	text-align: left;
	display:inline-block;
	padding: 4px;
	width:120px;

}
#tagvalue {
	display:inline-block;
	color:green;
	padding: 4px;
}
#dropdown {
	color:dodgerblue;
	padding: 4px;
	border-radius: 1px;
	background-color: white;
}
#editbutton {
	background-color: white;
	border: 1px dodgerblue solid;
	font-size: 16px;
	color:dodgerblue;
	margin: 20px 0 0 0;
	padding: 10px 50px;
	cursor: pointer;
}
#editbutton:hover {
	background-color: dodgerblue;
	color:white;
}
#delbutton {
	background-color: dodgerblue;
	border: 1px dodgerblue solid;
	font-size: 16px;
	color:white;
	padding: 5px 20px;
	cursor: pointer;
}
#delbutton:hover {
	background-color: white;
	color:dodgerblue;
}
.roletable {
	border:1px solid black;
	padding: 10px;
}
#generalhead {
	color:green;
	text-align: center;
}
#nochange {
	background-color: cadetblue;
	color:white;
	text-align: center;
}
.timer {
	background-color: dodgerblue;
	text-align: center;
}
@media only screen and (max-width: 750px) {
	.left{
		min-width:150px;
		margin-top: 0;
		margin-left: 0;
		width: 100%;
		height: auto;
	}
	.midcon{
		width:90%;
		margin: auto;
		display: block;
		margin-top: 20px;
		padding: 10px;
	}
	.band a{
		margin-right: 0;
	}
}